body {
    background-color: #2a2826;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.prompt-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.generate-btn {
    background-color: #5531ff;
    color: white;
    padding: 15px 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.generate-btn:hover {
    background-color: #a18cff;
}

.image-container {
    margin-top: 20px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.save-btn {
    margin-top: 10px;
    background-color: #00b894;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Style du logo de chargement */
.loader {
    display: none; /* Caché par défaut */
    width: 3px;
    height: 3px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
